<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ML API</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="login">
        <h1>Seoul Bike Sharing Demand Prediction</h1>
    
         <!-- Main Input For Receiving Query to our ML -->
        <form action="{{ url_for('predict_datapoint')}}" method="post">
            <input type="text" name="Hour" placeholder="Hour" required="required" />
            <input type="text" name="Temperature(°C)" placeholder="Temperature(°C)" required="required" />
            <input type="text" name="Humidity(%)" placeholder="Humidity(%)" required="required" />
            <input type="text" name="Wind speed (m/s)" placeholder="Wind speed (m/s)" required="required" />
            <input type="text" name="Visibility (10m)" placeholder="Visibility (10m)" required="required" />
            <input type="text" name="Solar Radiation (MJ/m2)" placeholder="Solar Radiation (MJ/m2)" required="required" />
            <input type="text" name="Rainfall(mm)" placeholder="Rainfall(mm)" required="required" />
            <input type="text" name="Snowfall (cm)" placeholder="Snowfall (cm)" required="required" />
            <br>
            <label class="form-label">Weekday</label>
            <select name="weekday" required="required">
            <option value="0">Monday</option>
            <option value="1">Tuesday</option>
            <option value="2">Wednesday</option>
            <option value="3">Thursday</option>
            <option value="4">Friday</option>
            <option value="5">Saturday</option>
            <option value="6">Sunday</option>
            </select>
            <label class="form-label">Seasons</label>
            <select name="Seasons" required="required">
            <option value="Winter">Winter</option>
            <option value="Summer">Summer</option>
            <option value="Autumn">Autumn</option>
            <option value="Spring">Spring</option>
            </select>
            <label class="form-label">Holiday or Not</label>
            <select name="Holiday" required="required">
            <option value="No Holiday">No Holiday</option>
            <option value="Holiday">Holiday</option>
            </select>
            <label class="form-label">Functioning Day or Not</label>
            <select name="Functioning Day" required="required">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
            </select>
            <br>
            <div>
            </div>
            <h1><button type="submit" class="btn btn-primary btn-block btn-large">Predict</button></h1>
        </form>
    
       <br>
       <br>
       The prediction is {{results}}
    
     </div>
    
    
</body>
</html>